html, body {
  background-color: rgb(44, 44, 44);
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.25rem;
  padding: 2rem;
  text-align: center;
}

button {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: rgb(29, 29, 219);
  color: aliceblue;
  margin: 1rem;
}
